
html {
    /* font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: mandatory; */
    scroll-behavior: smooth;
}

/* *,*::before, *,*::after {
    box-sizing: inherit;
} */

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(24, 33, 43);
    font-size: 16px;
}


h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2.7em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 1.2em;
}

ul {
    list-style: none;
}

button {
    font-size: 1em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    background-color: rgb(66, 184, 131);
    color: rgb(53, 73, 94);
}

button:hover {
    background-color: rgb(49, 126, 91);
}

.container {
    max-width: 1400px;
    margin: auto;
}

header {
    background-color: rgb(53, 73, 94);
}

header .logo {
    margin: 0;
    padding: 25px 25px;
    font-weight: bold;
    font-size: 2em;
    background: linear-gradient(to right, rgb(13, 248, 142), rgb(15, 69, 247));
    color: transparent  ;
    background-clip: text;
    -webkit-background-clip: text;
}

header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a {
    padding: 3px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover {
    background: linear-gradient(to right, rgb(13, 248, 142), rgb(15, 69, 247));
    color: transparent  ;
    background-clip: text;
    -webkit-background-clip: text;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(./images/hero.jpg);
    color: beige;
    background-repeat: no-repeat;
    background-size: cover;
}

#program-now {
    background-color: rgb(53, 73, 94);
}

#program-now .container {
    text-align: center;
    padding: 250px 12px;
}


#program-now .container h2 {
    background: linear-gradient(to right, rgb(13, 248, 142), rgb(15, 69, 247));
    color: transparent  ;
    background-clip: text;
    -webkit-background-clip: text;
}

#our-programs {
    background-color: rgb(53, 73, 94);
    text-align: center;
}

#our-programs .container {
    padding: 100px 0px;
}

#our-programs p {
    display: none;
}
#our-programs h2 {
    margin-top: 0;
    background: linear-gradient(to right, rgb(13, 248, 142), rgb(15, 69, 247));
    color: transparent  ;
    background-clip: text;
    -webkit-background-clip: text;
}

#our-programs .letter h3 {
    margin-top: 0;
    background: linear-gradient(to right, rgb(13, 248, 142), rgb(15, 69, 247));
    color: transparent  ;
    background-clip: text;
    -webkit-background-clip: text;
}

#our-programs .letter {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
}

.letter:first-child {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(./images/full-stack.jpg);
    color: beige;
}

.letter:nth-child(2) {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(./images/front-end.jpg);
    color: beige;
}

#characteristics .container{
    background: linear-gradient(to right, rgb(13, 248, 142), rgb(15, 69, 247));
    color: transparent  ;
    background-clip: text;
    -webkit-background-clip: text;
    padding: 100px 0px;
    display: flex;
    justify-content: center;
    padding: 100px;
}

#characteristics .container li {
    margin: 20px;
}

#Apply-now {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 50vh;
}

#Apply-now h2 {
    margin-top: 0;
    background: linear-gradient(to right, rgb(13, 248, 142), rgb(15, 69, 247));
    color: transparent  ;
    background-clip: text;
    -webkit-background-clip: text;
}

footer {
    background: linear-gradient(to right, rgb(13, 248, 142), rgb(15, 69, 247));
}

footer p {
    margin: 0;
}

footer .container {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
